### Projeto

In [30]:
import pandas as pd

#### Data Profiling

In [31]:
dataset = pd.read_csv('class_credit_score.csv', index_col='ID', sep=',', decimal='.')
dataset.head(10)

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,CreditMix,OutstandingDebt,CreditUtilizationRatio,Credit_History_Age,Payment_of_Min_Amount,TotalEMIpermonth,Amountinvestedmonthly,Payment_Behaviour,MonthlyBalance,Credit_Score
ID,,,,,,,,,,,,,,,,,,,,,
0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,NaN,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629163,Good
0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good
0x1607,CUS_0xd40,June,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,Good,809.98,27.262259,22 Years and 6 Months,No,49.574949,62.430172,NaN,340.479212,Good
0x1608,CUS_0xd40,July,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,22.537593,22 Years and 7 Months,No,49.574949,178.344067,Low_spent_Small_value_payments,244.565317,Good
0x1609,CUS_0xd40,August,NaN,23,NaN,Scientist,19114.12,1824.843333,3,4,...,Good,809.98,23.933795,NaN,No,49.574949,24.785217,High_spent_Medium_value_payments,358.124168,Good
0x160e,CUS_0x21b1,January,Rick Rothackerj,28,004-07-5839,NaN,34847.84,3037.986667,2,4,...,Good,605.03,24.464031,26 Years and 7 Months,No,18.816215,104.291825,Low_spent_Small_value_payments,470.690627,Good
0x160f,CUS_0x21b1,February,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,4,...,Good,605.03,38.550848,26 Years and 8 Months,No,18.816215,40.391238,High_spent_Large_value_payments,484.591214,Good

In [32]:
dataset.columns

Index(['Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'NumofLoan', 'Type_of_Loan',
       'Delay_from_due_date', 'NumofDelayedPayment', 'ChangedCreditLimit',
       'NumCreditInquiries', 'CreditMix', 'OutstandingDebt',
       'CreditUtilizationRatio', 'Credit_History_Age', 'Payment_of_Min_Amount',
       'TotalEMIpermonth', 'Amountinvestedmonthly', 'Payment_Behaviour',
       'MonthlyBalance', 'Credit_Score'],
      dtype='object')

In [33]:
dataset.shape

(100000, 27)

In [34]:
dataset.values

array([['CUS_0xd40', 'January', 'Aaron Maashoh', ...,
        'High_spent_Small_value_payments', 312.4940887, 'Good'],
       ['CUS_0xd40', 'February', 'Aaron Maashoh', ...,
        'Low_spent_Large_value_payments', 284.6291625, 'Good'],
       ['CUS_0xd40', 'March', 'Aaron Maashoh', ...,
        'Low_spent_Medium_value_payments', 331.2098629, 'Good'],
       ...,
       ['CUS_0x942c', 'June', 'Nicks', ...,
        'High_spent_Large_value_payments', 516.8090833, 'Poor'],
       ['CUS_0x942c', 'July', 'Nicks', ...,
        'Low_spent_Large_value_payments', 319.1649785, 'Good'],
       ['CUS_0x942c', 'August', 'Nicks', ..., nan, 393.6736956, 'Poor']],
      dtype=object)

In [35]:
dataset.loc["0x1602", "CreditMix"]

nan

In [ ]:
data_subset: pd.DataFrame = dataset.sample(n=5, replace=False)
data_subset

In [36]:
dataset.dtypes

Customer_ID                object
Month                      object
Name                       object
Age                        object
SSN                        object
Occupation                 object
Annual_Income             float64
Monthly_Inhand_Salary     float64
Num_Bank_Accounts           int64
Num_Credit_Card             int64
Interest_Rate               int64
NumofLoan                   int64
Type_of_Loan               object
Delay_from_due_date         int64
NumofDelayedPayment       float64
ChangedCreditLimit        float64
NumCreditInquiries        float64
CreditMix                  object
OutstandingDebt           float64
CreditUtilizationRatio    float64
Credit_History_Age         object
Payment_of_Min_Amount      object
TotalEMIpermonth          float64
Amountinvestedmonthly     float64
Payment_Behaviour          object
MonthlyBalance            float64
Credit_Score               object
dtype: object

In [37]:
dataset.isnull().sum()

Customer_ID                   0
Month                         0
Name                       9985
Age                           0
SSN                        5572
Occupation                 7062
Annual_Income                 0
Monthly_Inhand_Salary     15002
Num_Bank_Accounts             0
Num_Credit_Card               0
Interest_Rate                 0
NumofLoan                     0
Type_of_Loan              11408
Delay_from_due_date           0
NumofDelayedPayment        7002
ChangedCreditLimit         2091
NumCreditInquiries         1965
CreditMix                 20195
OutstandingDebt               0
CreditUtilizationRatio        0
Credit_History_Age         9030
Payment_of_Min_Amount         0
TotalEMIpermonth              0
Amountinvestedmonthly      4479
Payment_Behaviour          7600
MonthlyBalance             1200
Credit_Score                  0
dtype: int64