In [32]:
import pandas as pd
import re
from matplotlib.pyplot import figure, savefig, show
from dslabs_functions import plot_bar_chart
filename = 'class_credit_score.csv'
original_dataset = pd.read_csv(filename, index_col='ID', sep=',', decimal='.', na_values='')

print(original_dataset)

        Customer_ID     Month           Name   Age          SSN Occupation  \
ID
0x1602    CUS_0xd40   January  Aaron Maashoh    23  821-00-0265  Scientist
0x1603    CUS_0xd40  February  Aaron Maashoh    23  821-00-0265  Scientist
0x1604    CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265  Scientist
0x1605    CUS_0xd40     April  Aaron Maashoh    23  821-00-0265  Scientist
0x1606    CUS_0xd40       May  Aaron Maashoh    23  821-00-0265  Scientist
...             ...       ...            ...   ...          ...        ...
0x25fe9  CUS_0x942c     April          Nicks    25  078-73-5990   Mechanic
0x25fea  CUS_0x942c       May          Nicks    25  078-73-5990   Mechanic
0x25feb  CUS_0x942c      June          Nicks    25  078-73-5990   Mechanic
0x25fec  CUS_0x942c      July          Nicks    25  078-73-5990   Mechanic
0x25fed  CUS_0x942c    August          Nicks    25  078-73-5990   Mechanic

         Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
ID
0x1602        19114.12            1824.843333                  3
0x1603        19114.12                    NaN                  3
0x1604        19114.12                    NaN                  3
0x1605        19114.12                    NaN                  3
0x1606        19114.12            1824.843333                  3
...                ...                    ...                ...
0x25fe9       39628.99            3359.415833                  4
0x25fea       39628.99            3359.415833                  4
0x25feb       39628.99            3359.415833                  4
0x25fec       39628.99            3359.415833                  4
0x25fed       39628.99            3359.415833                  4

         Num_Credit_Card  ...  CreditMix  OutstandingDebt  \
ID                        ...
0x1602                 4  ...        NaN           809.98
0x1603                 4  ...       Good           809.98
0x1604                 4  ...       Good           809.98
0x1605                 4  ...       Good           809.98
0x1606                 4  ...       Good           809.98
...                  ...  ...        ...              ...
0x25fe9                6  ...        NaN           502.38
0x25fea                6  ...        NaN           502.38
0x25feb                6  ...       Good           502.38
0x25fec                6  ...       Good           502.38
0x25fed                6  ...       Good           502.38

        CreditUtilizationRatio      Credit_History_Age  Payment_of_Min_Amount  \
ID
0x1602               26.822620   22 Years and 1 Months                     No
0x1603               31.944960                     NaN                     No
0x1604               28.609352   22 Years and 3 Months                     No
0x1605               31.377862   22 Years and 4 Months                     No
0x1606               24.797347   22 Years and 5 Months                     No
...                        ...                     ...                    ...
0x25fe9              34.663572   31 Years and 6 Months                     No
0x25fea              40.565631   31 Years and 7 Months                     No
0x25feb              41.255522   31 Years and 8 Months                     No
0x25fec              33.638208   31 Years and 9 Months                     No
0x25fed              34.192463  31 Years and 10 Months                     No

         TotalEMIpermonth  Amountinvestedmonthly  \
ID
0x1602          49.574949              80.415295
0x1603          49.574949             118.280222
0x1604          49.574949              81.699521
0x1605          49.574949             199.458074
0x1606          49.574949              41.420153
...                   ...                    ...
0x25fe9         35.104023              60.971333
0x25fea         35.104023              54.185950
0x25feb         35.104023              24.028477
0x25fec         35.104023             251.672582
0x25fed         35.104023             167.163865

                        Payment_Behaviour  MonthlyBalance  Credit_Score
ID
0x1602    High_spent_Small_value_payments      312.494089          Good
0x1603     Low_spent_Large_value_payments      284.629163          Good
0x1604    Low_spent_Medium_value_payments      331.209863          Good
0x1605     Low_spent_Small_value_payments      223.451310          Good
0x1606   High_spent_Medium_value_payments      341.489231          Good
...                                   ...             ...           ...
0x25fe9   High_spent_Large_value_payments      479.866228          Poor
0x25fea  High_spent_Medium_value_payments      496.651610          Poor
0x25feb   High_spent_Large_value_payments      516.809083          Poor
0x25fec    Low_spent_Large_value_payments      319.164979          Good
0x25fed                               NaN      393.673696          Poor

[100000 rows x 27 columns]

In [ ]:
def valid_age(val):
    if '-' in val or pd.isna(val):
        return False
    return True
    
def valid_ssn(val):
    if pd.isna(val):
        return False
    pattern = r'^\d{3}-\d{2}-\d{4}$'  # Regex pattern for SSN (GGG-AA-SSSS)
    match = re.findall(pattern, val)
    return match != None

def valid_nba(val):
    if pd.isna(val):
        return False
    return int(val) >= 0

def valid_interest(val):
    if pd.isna(val):
        return False
    return int(val) >= 0 and int(val) <= 100

def valid_num_loan(val):
    if pd.isna(val):
        return False
    return int(val) >= 0

def valid_pma(val):
    if pd.isna(val):
        return False
    #return str(val) in ["Yes", "No"]
    return True

def valid_mb(val):
    if pd.isna(val):
        return False
    return int(val) >= 0

In [33]:
columns_to_treat = ["Age", "SSN", "Num_Bank_Accounts", "Interest_Rate", "NumofLoan", "Payment_of_Min_Amount", "MonthlyBalance"]
relevant = ["Age", "SSN", "Num_Bank_Accounts", "Interest_Rate", "NumofLoan", "Payment_of_Min_Amount", "MonthlyBalance"]

dataset = original_dataset.copy()
#to_delete = False
#for _, row in original_dataset.iterrows():
#    new_row = row.copy()
#    if not valid_age(row["Age"]):
#        to_delete = "Age" in irrelevant
#    else: 
#        new_row["Age"] = valid_age(row["Age"]) 
#    if not valid_ssn(row["SSN"]):
#        to_delete = "SSN" in irrelevant
#    if not valid_nba(row["Num_Bank_Accounts"]):
#        to_delete = "Num_Bank_Accounts" in irrelevant
#    if not valid_interest(row["Interest_Rate"]):
#        to_delete = "Interest_Rate" in irrelevant
#    if not valid_num_loan(row["NumofLoan"]):
#        to_delete = "NumofLoan" in irrelevant
#    if not valid_pma(row["Payment_of_Min_Amount"]):
#        to_delete = "Payment_of_Min_Amount" in irrelevant
#    if not valid_mb(row["MonthlyBalance"]):
#        to_delete = "MonthlyBalance" in irrelevant
#    if not to_delete:
#        dataset = pd.concat([dataset, pd.DataFrame(new_row)], ignore_index=True)



print(dataset)

        Customer_ID     Month           Name   Age          SSN Occupation  \
ID
0x1602    CUS_0xd40   January  Aaron Maashoh    23  821-00-0265  Scientist
0x1603    CUS_0xd40  February  Aaron Maashoh    23  821-00-0265  Scientist
0x1604    CUS_0xd40     March  Aaron Maashoh  -500  821-00-0265  Scientist
0x1605    CUS_0xd40     April  Aaron Maashoh    23  821-00-0265  Scientist
0x1606    CUS_0xd40       May  Aaron Maashoh    23  821-00-0265  Scientist
...             ...       ...            ...   ...          ...        ...
0x25fe9  CUS_0x942c     April          Nicks    25  078-73-5990   Mechanic
0x25fea  CUS_0x942c       May          Nicks    25  078-73-5990   Mechanic
0x25feb  CUS_0x942c      June          Nicks    25  078-73-5990   Mechanic
0x25fec  CUS_0x942c      July          Nicks    25  078-73-5990   Mechanic
0x25fed  CUS_0x942c    August          Nicks    25  078-73-5990   Mechanic

         Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
ID
0x1602        19114.12            1824.843333                  3
0x1603        19114.12                    NaN                  3
0x1604        19114.12                    NaN                  3
0x1605        19114.12                    NaN                  3
0x1606        19114.12            1824.843333                  3
...                ...                    ...                ...
0x25fe9       39628.99            3359.415833                  4
0x25fea       39628.99            3359.415833                  4
0x25feb       39628.99            3359.415833                  4
0x25fec       39628.99            3359.415833                  4
0x25fed       39628.99            3359.415833                  4

         Num_Credit_Card  ...  CreditMix  OutstandingDebt  \
ID                        ...
0x1602                 4  ...        NaN           809.98
0x1603                 4  ...       Good           809.98
0x1604                 4  ...       Good           809.98
0x1605                 4  ...       Good           809.98
0x1606                 4  ...       Good           809.98
...                  ...  ...        ...              ...
0x25fe9                6  ...        NaN           502.38
0x25fea                6  ...        NaN           502.38
0x25feb                6  ...       Good           502.38
0x25fec                6  ...       Good           502.38
0x25fed                6  ...       Good           502.38

        CreditUtilizationRatio      Credit_History_Age  Payment_of_Min_Amount  \
ID
0x1602               26.822620   22 Years and 1 Months                     No
0x1603               31.944960                     NaN                     No
0x1604               28.609352   22 Years and 3 Months                     No
0x1605               31.377862   22 Years and 4 Months                     No
0x1606               24.797347   22 Years and 5 Months                     No
...                        ...                     ...                    ...
0x25fe9              34.663572   31 Years and 6 Months                     No
0x25fea              40.565631   31 Years and 7 Months                     No
0x25feb              41.255522   31 Years and 8 Months                     No
0x25fec              33.638208   31 Years and 9 Months                     No
0x25fed              34.192463  31 Years and 10 Months                     No

         TotalEMIpermonth  Amountinvestedmonthly  \
ID
0x1602          49.574949              80.415295
0x1603          49.574949             118.280222
0x1604          49.574949              81.699521
0x1605          49.574949             199.458074
0x1606          49.574949              41.420153
...                   ...                    ...
0x25fe9         35.104023              60.971333
0x25fea         35.104023              54.185950
0x25feb         35.104023              24.028477
0x25fec         35.104023             251.672582
0x25fed         35.104023             167.163865

                        Payment_Behaviour  MonthlyBalance  Credit_Score
ID
0x1602    High_spent_Small_value_payments      312.494089          Good
0x1603     Low_spent_Large_value_payments      284.629163          Good
0x1604    Low_spent_Medium_value_payments      331.209863          Good
0x1605     Low_spent_Small_value_payments      223.451310          Good
0x1606   High_spent_Medium_value_payments      341.489231          Good
...                                   ...             ...           ...
0x25fe9   High_spent_Large_value_payments      479.866228          Poor
0x25fea  High_spent_Medium_value_payments      496.651610          Poor
0x25feb   High_spent_Large_value_payments      516.809083          Poor
0x25fec    Low_spent_Large_value_payments      319.164979          Good
0x25fed                               NaN      393.673696          Poor

[100000 rows x 27 columns]

In [36]:
import numpy as np

columns_to_treat = ["Age", "SSN", "Num_Bank_Accounts", "Interest_Rate", "NumofLoan", "Payment_of_Min_Amount", "MonthlyBalance"]
relevant = ["Age", "Num_Bank_Accounts", "Interest_Rate", "NumofLoan", "Payment_of_Min_Amount", "MonthlyBalance"]

df = pd.DataFrame(original_dataset)

df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Age'] = df['Age'].apply(lambda x: np.nan if x == -500 or x >= 150 else x)
df['Age'] = df['Age'].astype(str).str.replace('_', '', regex=False)
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

# Check and clean 'SSN' column
pattern = r'^\d{3}-\d{2}-\d{4}$'  # Replace this with your SSN regex pattern
df['SSN'] = df['SSN'].apply(lambda x: x if re.match(pattern, str(x)) else np.nan)

df['Num_Bank_Accounts'] = df['Num_Bank_Accounts'].apply(lambda x: x if x >= 0 else np.nan)

df['Interest_Rate'] = df['Interest_Rate'].apply(lambda x: x if x >= 0 and x <= 100 else np.nan)

df['NumofLoan'] = df['NumofLoan'].apply(lambda x: x if x >= 0 else np.nan)

#df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].apply(lambda x: x if str(x) in ["Yes", "No"] else np.nan)

df['MonthlyBalance'] = df['MonthlyBalance'].apply(lambda x: x if x >= 0 else np.nan)

#for col in columns_to_treat:           # remover NAs das colunas relevantes
#    if col in relevant:
#       df = df[df[col].notna()]


df.head()

,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,CreditMix,OutstandingDebt,CreditUtilizationRatio,Credit_History_Age,Payment_of_Min_Amount,TotalEMIpermonth,Amountinvestedmonthly,Payment_Behaviour,MonthlyBalance,Credit_Score
ID,,,,,,,,,,,,,,,,,,,,,
0x1602,CUS_0xd40,January,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,4,...,NaN,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.415295,High_spent_Small_value_payments,312.494089,Good
0x1603,CUS_0xd40,February,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,NaN,3.0,4,...,Good,809.98,31.944960,NaN,No,49.574949,118.280222,Low_spent_Large_value_payments,284.629163,Good
0x1604,CUS_0xd40,March,Aaron Maashoh,NaN,821-00-0265,Scientist,19114.12,NaN,3.0,4,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521,Low_spent_Medium_value_payments,331.209863,Good
0x1605,CUS_0xd40,April,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,NaN,3.0,4,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.458074,Low_spent_Small_value_payments,223.451310,Good
0x1606,CUS_0xd40,May,Aaron Maashoh,23.0,821-00-0265,Scientist,19114.12,1824.843333,3.0,4,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153,High_spent_Medium_value_payments,341.489231,Good

In [ ]:
import matplotlib.pyplot as plt
import dslabs_functions as ds
import re

units = {
    "Age": "(Years)",
    "Annual_Income": "($)",
	"Monthly_Inhand_Salary": "($)",
	"Num_Bank_Accounts": "",
    "Num_Credit_Card": "",
	"Interest_Rate": "(%)",
	"NumofLoan": "",
	"Delay_from_due_date": "(days)",
    "NumofDelayedPayment": "",
	"ChangedCreditLimit": "",
	"NumCreditInquiries": "",
    "OutstandingDebt": "($)",
	"CreditUtilizationRatio": "",
	"TotalEMIpermonth": "($)",
    "Amountinvestedmonthly": "($)",
	"MonthlyBalance": "($)",
    "CreditHistoryAge": "(Years)"
}
print(len(units))

hist_age = df["Credit_History_Age"]
hist_vals = []

for val in hist_age:
    matches = re.findall(r'(\d+) Years and (\d+) Months', str(val))
    if matches == []:
        continue
    else:
        hist_vals += [float(matches[0][0]) + ((float(matches[0][1])-1)/12) ,]

df["CreditHistoryAge"] = pd.Series(hist_vals).astype(float)

t = df.select_dtypes(include=['number', 'float'])
t["Age"] = pd.to_numeric(df['Age'], errors='coerce')
variables = t.columns
rows, cols = ds.define_grid(len(variables), 4)
fig, axs = plt.subplots(rows, cols, figsize=(cols*ds.HEIGHT, rows*ds.HEIGHT))
i, j = 0, 0
for n in range(len(variables)):
    axs[i, j].set_title('Histogram for %s' % variables[n])
    axs[i, j].set_xlabel(f'{variables[n]} {units[variables[n]]}')
    axs[i, j].set_ylabel('Number of Records')

    # Adjusting the rwidth parameter to increase the distance between bars along the x-axis
    axs[i, j].hist(t[variables[n]].values, bins=25, color='lightblue', rwidth=0.9)  # Adjust rwidth

    i, j = (i + 1, 0) if (n + 1) % cols == 0 else (i, j + 1)

savefig(f"images/figure_granularity_25.png")  # Save the figure
show()

In [ ]:
import matplotlib.pyplot as plt
import dslabs_functions as ds
import re

units = {
    "Age": "(Years)",
    "Annual_Income": "($)",
	"Monthly_Inhand_Salary": "($)",
	"Num_Bank_Accounts": "",
    "Num_Credit_Card": "",
	"Interest_Rate": "(%)",
	"NumofLoan": "",
	"Delay_from_due_date": "(days)",
    "NumofDelayedPayment": "",
	"ChangedCreditLimit": "",
	"NumCreditInquiries": "",
    "OutstandingDebt": "($)",
	"CreditUtilizationRatio": "",
	"TotalEMIpermonth": "($)",
    "Amountinvestedmonthly": "($)",
	"MonthlyBalance": "($)",
    "CreditHistoryAge": "(Years)"
}
print(len(units))

hist_age = df["Credit_History_Age"]
hist_vals = []

for val in hist_age:
    matches = re.findall(r'(\d+) Years and (\d+) Months', str(val))
    if matches == []:
        continue
    else:
        hist_vals += [float(matches[0][0]) + ((float(matches[0][1])-1)/12) ,]

df["CreditHistoryAge"] = pd.Series(hist_vals).astype(float)

t = df.select_dtypes(include=['number', 'float'])
t["Age"] = pd.to_numeric(df['Age'], errors='coerce')
variables = t.columns
rows, cols = ds.define_grid(len(variables), 4)
fig, axs = plt.subplots(rows, cols, figsize=(cols*ds.HEIGHT, rows*ds.HEIGHT))
i, j = 0, 0
for n in range(len(variables)):
    axs[i, j].set_title('Histogram for %s' % variables[n])
    axs[i, j].set_xlabel(f'{variables[n]} {units[variables[n]]}')
    axs[i, j].set_ylabel('Number of Records')

    # Adjusting the rwidth parameter to increase the distance between bars along the x-axis
    axs[i, j].hist(t[variables[n]].values, "auto")  # Adjust rwidth

    i, j = (i + 1, 0) if (n + 1) % cols == 0 else (i, j + 1)

savefig(f"images/t.png")  # Save the figure
show()

In [ ]:
# Select columns with numerical and string data types
string_cols = df.select_dtypes(include="object").columns
symbolic_cols = [col for col in string_cols if col not in ["ID", "Name", "Customer_ID", "SSN", "Age", "Credit_History_Age"]]

# Combine numerical and string columns
rows, cols = ds.define_grid(len(symbolic_cols))

print(cols * ds.HEIGHT, rows * ds.HEIGHT)
fig, axs = plt.subplots(rows, cols, figsize=(cols * ds.HEIGHT, rows * ds.HEIGHT))
i, j = 0, 0
plt.subplots_adjust(hspace=1)

            
types = df["Type_of_Loan"]

types_values = []
for text in types:
    matches = re.findall(r'([\w\s-]+)(?:, | and |$)', str(text))
    m_filtered = [m if "and" not in m else m[4:] for m in matches]
    types_values += m_filtered

final = pd.Series(types_values).value_counts()

axs[i, j].set_title('Histogram for %s' % "Type_of_Loan")
axs[i, j].set_xlabel("Type_of_Loan")
axs[i, j].set_ylabel('Number of Records')
axs[i, j].bar(final.index, final.values, color = "lightblue")
axs[i, j].set_xticklabels(final.index, rotation=90)
i, j = i, j+1

for col in symbolic_cols:
    if col != "Type_of_Loan":
        axs[i, j].set_title('Histogram for %s' % col)
        axs[i, j].set_xlabel(col)
        axs[i, j].set_ylabel('Number of Records')
        value_counts = df[col].value_counts()
        axs[i, j].bar(value_counts.index, value_counts.values, color='lightblue')
        axs[i, j].set_xticklabels(value_counts.index, rotation=90)
        i, j = (i + 1, 0) if (j + 1) % cols == 0 else (i, j + 1)
    
    


plt.savefig(f"images/figure_granularity_symbolic.png")  # Save the figure
plt.show()

In [ ]:
from seaborn import heatmap
from dslabs_functions import get_variable_types
import re

exclude = ["ID", "Customer_ID", "Name", "SSN", "Age", "Credit_History_Age"]

# Create a copy of the dataset
modified_dataset = df.copy()

hist_age = modified_dataset["Credit_History_Age"]
hist_vals = []

for val in hist_age:
    matches = re.findall(r'(\d+) Years and (\d+) Months', str(val))
    if matches == []:
        continue
    else:
        hist_vals.append(float(matches[0][0]) + ((float(matches[0][1]) - 1) / 12))

# Add a new column 'CreditHistoryAge' to the modified dataset
modified_dataset["CreditHistoryAge"] = pd.Series(hist_vals).astype(float)

# Select numeric columns
numeric = modified_dataset.select_dtypes(include=['number', 'float'])

# Convert the 'Age' column to numeric without altering the original dataset
numeric["Age"] = pd.to_numeric(modified_dataset['Age'], errors='coerce')

symbolic_vars = [col for col in modified_dataset.select_dtypes(include="object") if col not in exclude]
symbolic_factors = pd.DataFrame()

for col in symbolic_vars:
    symbolic_factors[col], _ = pd.factorize(modified_dataset[col])

# Combine the factorized symbolic variables with the numeric variables
all_vars = pd.concat([numeric, symbolic_factors], axis=1)

# Compute the correlation matrix for all variables
corr_mtx = all_vars.corr().abs()

# Generate the heatmap
figure()
heatmap(
    abs(corr_mtx),
    xticklabels=all_vars.columns,
    yticklabels=all_vars.columns,
    annot=False,
    cmap="Blues",
    vmin=0,
    vmax=1,
)
savefig(f"images/correlation_analysis_all.png")
show()

In [ ]:
df['NumCreditInquiries'].apply(lambda x: x if x >= 100 else np.nan)
print(df['NumCreditInquiries'].dropna())